:root {
    --vermelho: #E50914;
    --preta: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background: var(--preta);
    font-family: 'Arial', Times, serif;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    color: var(--vermelho);
    font-family: sans-serif, bold, display;
    font-size: 30px;
    margin: 20px;
}

header nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.815);
    margin: 10px;
}

header nav a:hover {
    color:#FFF;
}

.main_movie {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url(../img/mr_robot_banner.jpg);

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main_movie .description {
    margin-top: 10px;
    margin-bottom: 60px;
    text-justify:distribute-all-lines;
}

.main_movie .title {
    margin-top: 5%;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button {
    background-color: rgba(0,0,0,.75);
    border: none;
    color: white;

    font-size: 14px;

    padding: 15px 30px;
    margin-right: 15px;
    margin-left: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.button:hover{
    background-color: #FFF;
    color: var(--vermelho);
}

.button i {
    margin-right: 8px;
}

.container {
    margin-left : 20px;
}

.main_movie .container {
    width: 63%;
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes {
    margin-top: 5px;
}

.item:hover {
    size: 20px;
    justify-content: space-between;
}

span {
    color: red;
}